# Achievement 6 – Task 6.1  
## UFC Fight Historical Data (1993–2021)

**Purpose of this notebook**

This notebook documents the data sourcing, cleaning, and data profiling steps for Achievement 6.  
It directly supports the accompanying Project Information Sheet by validating the dataset structure, variables, and data quality using Python.

In [1]:
import pandas as pd
import numpy as np

In [5]:
# Load the cleaned/preprocessed dataset used for profiling
df = pd.read_csv("preprocessed_data.csv")

df.head()

,Winner,title_bout,B_avg_KD,B_avg_opp_KD,B_avg_SIG_STR_pct,B_avg_opp_SIG_STR_pct,B_avg_TD_pct,B_avg_opp_TD_pct,B_avg_SUB_ATT,B_avg_opp_SUB_ATT,...,B_Stance_Open Stance,B_Stance_Orthodox,B_Stance_Sideways,B_Stance_Southpaw,B_Stance_Switch,R_Stance_Open Stance,R_Stance_Orthodox,R_Stance_Sideways,R_Stance_Southpaw,R_Stance_Switch
0,Red,False,0.000000,0.0,0.420000,0.49500,0.330,0.36000,0.500000,1.000000,...,0,1,0,0,0,0,1,0,0,0
1,Red,False,0.500000,0.0,0.660000,0.30500,0.300,0.50000,1.500000,0.000000,...,0,1,0,0,0,0,1,0,0,0
2,Red,False,0.015625,0.0,0.450000,0.42750,0.250,0.20000,0.148468,0.098389,...,0,1,0,0,0,0,0,0,1,0
3,Blue,False,0.015625,0.0,0.450000,0.42750,0.250,0.20000,0.148468,0.098389,...,0,0,0,1,0,0,0,0,0,1
4,Blue,False,0.125000,0.0,0.535625,0.57875,0.185,0.16625,0.125000,0.187500,...,0,1,0,0,0,0,1,0,0,0

In [6]:
df.shape

(5902, 160)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5902 entries, 0 to 5901
Columns: 160 entries, Winner to R_Stance_Switch
dtypes: bool(1), float64(106), int64(52), object(1)
memory usage: 7.2+ MB

In [8]:
missing = df.isnull().sum().sort_values(ascending=False)
missing[missing > 0].head(15)

Series([], dtype: int64)

In [9]:
df['Winner'].value_counts()

Winner
Red     3979
Blue    1923
Name: count, dtype: int64